@{
    ViewBag.Title = "דף הבית";
}

<div class="jumbotron">
    <img src="/images/workout.jpg" alt="אימון אישי" />
</div>

<div class="row">
    <div class="col-md-8">
        <h2>ברוכים הבאים</h2>
        <p><b>GET WILD</b> בשונה מחדר כושר שם דגש על מתן יחס אישי לכל מתאמן ומתאמן והצבת יעדים משותפים וכמובן השגתם. אצלנו כל מתאמן מקבל תמיכה ישירה מהצוות לאורך כל היום לא רק באימון עצמו ולמעשה בכך אנחנו מקיפים אתכם בכל האמצעים הדרושים להצלחתכם האישית!</p>
        <p>אנחנו דוגלים בגיוון, יצירתיות, יחס אישי מקצועי ותומך, וכמובן משפחתיות דבר הנותן למתאמנים מוטיבציה להתמיד,להתאמן ולהצליח לממש את הפוטנציאל שלהם הטמון בכל אחד!</p>
        <p>שיטות האימון שלנו מתאימות לכולם . מאדם שלא נמצא בכושר גופני עד לספורטאי עילית. וזאת לאור העובדה שהאימונים ככללם הם קבוצתיים אך הסטים עצמם מבוצעים על פי פרק זמן מוגדר שלמעשה העבודה בתחנות היא אינדיבידואלית.</p>
        <p>בנוסף, הסטודיו פונה לכל האוכלוסייה: בנים, בנות ,ספורטאים,ילדים וכו..</p>
        <p>האימונים אצלנו מוגבלים ל-15 מתאמנים באימון דבר המאפשר יחס אישי ומתן דגש על טכניקה טובה למניעת פציעות עתידיות.</p>
    </div>
    <div class="col-md-4">
        @Html.Partial("SubscribPartial")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}