@{
    ViewBag.Title = "הצוות";
}
<h2>@ViewBag.Title.</h2>
<h3>GETWILD הינו סטודי בבעלותם של</h3>
<h4>מאור ג'רסי  </h4>

<p>
    אצלנו הצוות נבחר בקפידה סביב קריטריונים של מקצועיות, וחשוב מזה חיוך וסובלנות למתאמנים שלנו. אצלנו תמצאו את השילוב הנדיר של אווירה צעירה, דינמית ומקצועית ברמה הגבוהה ביותר .
</p>