<h4>השתתפות באימונים:</h4>
                על מנת שנוכל להכין את האימונים ואת רמתם בצורה המקצועית והאיכותית ביותר ההרשמה לאימונים מראש מאוד חשובה! ולכן הקפידו להירשם מראש לאימונים דרך אתר האינטרנט שלנו! מתאמן שהגיע לאימון ללא רישום מראש יוכל להתאמן רק על בסיס מקום פנוי. ניתן לבטל הרשמה דרך האתר עד שעתיים לפני האימון. שימו לב! מקומכם באימון תופס מקום של מתאמן אחר ולכן חשוב לנו שתבואו לאמונים שנרשמתם אליהם ובמידה ולא תבטלו שמתאמן אחר יוכל לבוא במקומכם.<br />
                אימוני בוקר-ניתן להירשם לאימוני בוקר עד השעה 22:00 של יום קודם. אימון שלא יירשמו אליו עד השעה 22:00 יום קודם לא יתקיים.<br />
                ניתן להירשם לאימוני בוקר גם בבוקר, לאימונים שרשומים אליו כבר מתאמנים.<br />
                • מינימום משתתפים באימון: 5 מתאמנים.
<h4>מנוי לא הגבלה :</h4>
                ניתן להירשם ל-2 אימונים מראש!<br />
                במידה והגעתן לאימון הראשון תוכלו להירשם <br /> אימון נוסף(אימון שלישי),במידה והגעתן לאימון השני תוכלו להירשם לעוד אימון (אימון רביעי) כלומר תמיד תוכלו להירשם ל2 אימונים עתידיים.
<b>שימו לב!</b>
                ההרשמה לאימון השלישי תלויה בנוכחות שלכן באימונים הקודמים! רק לאחר שהגעתן לאימון וסומנתם שהייתם באימון תוכלו להירשם לאימון נוסף!<br />
                מתאמן שנרשם לאימון ולא הגיע אליו יסומן שלא היה והמערכת תאפשר לו להירשם לעוד אימון אחד בלבד באותו השבוע ולכן הקפידו להגיע לאימונים שאליהם אתם נרשמים<br />
                ניתן להירשם לאימון השני באותו יום אך, זה על בסיס מקום פנוי.
<h4>הגעה לאימונים:</h4>
                בשביל שתוכלו לקבל הסבר מפורט על האימון ולקבל דגשים על כל תרגיל ותרגיל וזמני העבודה הגעתכם בזמן לאימון הינה חיונית! הקפידו לבוא 2-3 דקות לפני האימון בשביל שנוכל להתחיל את האימונים בזמן ללא איחורים ובכדי שתוכלו להבין את מערך האימון.<br />
<h4>כניסה ויציאה מאימונים:</h4>
                על מנת שנוכל לשמור על הסדר באימונים ובשביל למנוע הפרעות והסחות דעת בזמן האימונים ברישום לאימונים שימו לב!<br />
                בלוז ישנן 2 עמודות. עמודה ראשונה (ימנית) שהאימונים בעמודה זו מתקיימים במתחם הפונקציונאלי. ועמודה שנייה (שמאלית) שהאימונים בעמודה זו מתקיימים בסטודיו הגדול. כשתירשמו לאימון שימו לב באיזה סטודיו מתקיים אותו אימון.<br />
                מי שנירשם לאימונים בסטודיו הגדול הכניסה והיציאה מהאימון הם דרך הכניסה הראשית.<br />
                מי שנרשם לאימונים במתחם הפונקציונאלי הכניסה והיציאה דרך המסדרון ולא דרך הסטודיו הגדול!
<h4>זמני האימון</h4>
                הינם 55 דקות בשביל שבסוף האימון 5 דקות נוכל לענות על שאלות ולהכין את האימון הבא בשביל שיתחיל בזמן!<br />
                לרשותכם עמדת שתייה בכל סטודיו. נא לזרוק את הכוסות לפח לאחר השימוש שנוכל לשמור על הסדר והניקיון בסטודיו.<br />
                בשביל להבטיח את ההיגיינה באימונים ולשמור על הסטריליות ואווירה נעימה נא להביא מגבות אישיות לאימונים, בעת השימוש בספא/מזרון יש לפרוס את המגבת ובסיום השימוש לקחת אותה.<br />
                נא לא לזרוק את רצועות הTRX בסיום השימוש, אלא להניחן בזהירות.
<h4>ביטוח:</h4>
                על מנת שנוכל לבטח את המתאמנים בסטודיו, לא תתאפשר השתתפות באימונים ללא מילוי טופס וחתימה על הצהרת בריאות. מתאמן שלא יחתום לא יוכל להתאמן.
<h4>קביעת מדידות:</h4>
                מדידות יתקיימו בתיאום מראש. הקפידו לתאם אחת לחודש מדידות שנוכל לעקוב אחר ההתקדמות שלכן!
<h4>אפשרויות תשלום:</h4>
                * כרטיס אשראי- עם אפשרות לתשלומים.<br />
                * צ'קים- אחד לכל חודש עם תאריך פירעון של עד 10 של אותו החודש .<br />
                * מזומן.<br />
                החשבונית מס קבלה תשלח למייל כחשבונית דיגיטלית.
<h4>הקפאת מנוי</h4>
                מדיניות ההקפאה תהיה בהודעה מראש על הקפאה ולא רטרואקטיבית בנוסף, משך ההקפאה יהיה 14 ימים ומעלה.<br />
                * מי שנרשם ל12 חודשים ורוצה לבטל אחרי חודש עד שלושה ישלם על החודשים שהיה בהם תשלום עבור מנוי של חודש בודד. ויקבל החזר מלא על החודשים שלא מימש.<br />
                * מי שנרשם ל12 חודשים ורוצה לבטל אחרי 3 חודשים עד 6 חודשים ישלם על החודשים שהיה בהם תשלום עבור מנוי של 3 חודשים ויקבל החזר מלא על החודשים שלא מימש.<br />
                * מי שנרשם ל12 חודשים ורוצה לבטל אחרי 6 חודשים עד 612חודשים ישלם על החודשים שהיה בהם תשלום עבור מנוי של 6 חודשים ויקבל החזר מלא על החודשים שלא מימש.<br />
                * מי שנרשם ל6 חודשים ורוצה לבטל אחרי חודש עד שלושה ישלם על החודשים שהיה בהם תשלום עבור מנוי של חודש בודד. ויקבל החזר מלא על החודשים שלא מימש.<br />
                * מי שנרשם ל6 חודשים ורוצה לבטל אחרי 3 חודשים עד 6 חודשים ישלם על החודשים שהיה בהם תשלום עבור מנוי של 3 חודשים ויקבל החזר מלא על החודשים שלא מימש.<br />
                * מי שנרשם ל3חודשים ורוצה לבטל אחרי חודש עד שלושה ישלם על החודשים שהיה בהם תשלום עבור מנוי של חודש בודד. ויקבל החזר מלא על החודשים שלא מימש.<br />
                * מי שנרשם לחודש לא ניתן לבטל את המנוי.<br />
                * שימו לב! לא יוחזר החזר כספי על הקפאת מנוי. המנוי ממשיך אך עם התווספות ימים של הקפאה.<br />
                שימו לב! לא יוחזר החזר כספי רטרואקטיבי ובנוסף מרגע הכניסה לחודש הבא יחויב אותו החודש בתשלום גם אם עבר יום אחד.<br />
                שימו לב! ישנם אימונים שיפתחו חד פעמית ליותר מ15 מתאמנים בעת הצורך.<br />
                הלוח אימונים מתעדכן בכל מוצאי שבת לשבוע הבא. כלומר , רק במוצאי שבת אני אוכל לראות את הלוז של שבוע הבא, ולא לפני.<br />
                הלוז אינו קבוע ונתון לשינויים במידת הצורך.
<h4>פייסבוק</h4>
                מוזמנים לעשות לייק בדף הפייסבוק שלנו GET WILD.
<h4>ווטצפ</h4>
                כל מי שמנוי יצורף לקבוצה ווטצפ שזוהי קבוצה שקטה! מטרתה להודיע הודעות על שינויים, אירועים, אימונים שנוספו ועוד.
<h4>תמונות</h4>
                במהלך האימונים יצולמו תמונות שיעלו לפייסבוק/אנסטגרם/ או מטרת פרסום אחרות.
