<!-- Modal -->
<div id="TandCModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h3 class="modal-title">תקנון  רשת סטודיו פולס -החברה המפעילה סטודיו פולס גדרה ח.פ. 311368914 ו /או סטודיו פולס רחובות ח.פ. ,516000254 </h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li>א.	עיקרי ההתקשרות</li>
                    <ul>
                        <li>    1.	המנוי במועדון "רשת פולס" (להלן: "פולס" ו/או "החברה " ו/או "סטודיו) הינה אישית ואינה ניתנת להעברה למנוי אחר ו/או להעברה בין מועדוני הרשת.
                        <li>    2.	הרישום במערכת המידע של הסטודיו, מחייבות מסירת מידע אישי, מסמכים רפואיים באם ידרשו, נכונות הפרטים שיוזנו הינה על המנוי בלבד.
                        <li>    3.	עלות המנוי תקבע על סמך התקופה שסוכמה בין הצדדים וללא קשר להתייצבות המנוי בפועל.
                        <li>    4.	ידוע ,מוסכם , מובהר ומוצהר כי אין החזר כספי ו/או החזר ימים על תקופת מנוי או כרטיסיה שלא נוצלה על ידי הלקוח.
                        <li>    5.	הסטודיו שומר לעצמו את הזכות על פי שיקול דעתו הבלעדי לסיים חברות של מנוי בסטודיו במידה והפר את תקנון הסטודיו ו/או הוראות צוות המועדון וההנהלה  ו/או במקרה של הפרה משמעת חמורה, במקרה שכזה יבוטל המנוי על פי סעיף הפסקת החברות בסטודיו.
                        <li>    6.	הסטודיו אינו אחראי לספק מקומות חניה, במידה והחניה כרוכה בתשלום הרי שתשלום זה יחול על המנוי בלבד.
                        <li>    7.	הסטודיו לא יהיה אחראי לאובדן ו/או גניבת חפצים בתחום הסטודיו .
                        <li>    8.	שעות פעילות ומערכת השעות לשיעורים יפורסמו מעת לעת באתר הרשת, הסטודיו ראשי להאריך או לקצר את שעות הפעילות או לשנות / לבטל שיעורים ,לשנות את צוות המועדון, לפי שיקול דעתו הבלעדי של הסטודיו וללא כל הודעה מראש.
                    </ul>
                    <li>
                        ב.	דמי ההרשמה.
                        <ul>
                            <li>1.	הלקוח חייב בתשלום דמי ההרשמה בעת רכישת מנוי (כולל בעת חידוש מנוי) בסכום הנהוג באותו מועד.
                            <li>2.	קיימים מספר מסלולים למנויים.
                            <li>i.	מסלול שנתי
                            <li>ii.	מסלול חצי שנתי
                            <li>iii.	מסלול לשלושה חודשים
                            <li>iv.	מסלול חודשי
                            <li>v.	כרטיסיה
                            <li>3.	הסטודיו שומר לעצמו את הזכות לשנות את סכום דמי ההרשמה מעת לעת ועל פי שיקול דעתו.
                            <li>4.	ידוע ללקוח כי התשלום עבור דמי ההרשמה יחויב בתשלום בראשון.
                            <li>5.	אפשרויות תשלום.
                            <li>i.	כרטיס אשראי – מאפשר תשלומים חודשיים.
                            <li>ii.	צ'קים אחד לכל חודש עם תאריך פירעון כל 10 לחודש, המחאה שלא תכובד תחייב את המנוי ב 20 ₪ עבור דמי ביטול.
                            <li>
                                iii.	מזומן – תשלום לכל חודש מראש ופיקדון באשראי לשלושה חודשים.
                        </ul>
                    <li>
                        ג.	כשירות רפואית.
                        <ul>
                            <li>1.	הכשירות הרפואית של המתאמן חלה על המתאמן בלבד.
                            <li>2.	בעת ההרשמה יחתום המנוי על הצהרה על כשירות רפואית המאפשרת ביצוע אימון.
                            <li>3.	חל איסור מוחלט על אימון במצב חולי או בזמן פציעה.
                            <li>
                                4.	שינוי במצב הרפואי של המתאמן מחייב עדכון צוות הסטודיו.
                        </ul>

                    <li>
                        ד.	ההרשמה לאימונים.
                        <ul>
                            <li>1.	לצורך הכנת האימונים בצורה המקצועית והאיכותית ישנה חשיבות רבה להרשמה מראש.
                            <li>2.	ניתן להירשם לשני אימונים מראש, לאחר האימון אחד ניתן להירשם לאימון השלישי באותו שבוע ולאחר האימון השני ניתן להירשם לאימון הרביעי וכך הלאה, האימון נוסף באותו היום הוא על בסיס מקום פנוי בלבד.
                            <li>3.	לוח האימונים לשבוע עוקב יתעדכן כל שבוע עד יום שישי בשעה 10:00 בבוקר.
                            <li>4.	 יש להקפיד על רישום מראש לאימונים דרך אתר האינטרנט , מתאמן שיגיע לאימון ללא רישום מראש יוכל להתאמן רק על בסיס מקום פנוי.
                            <li>5.	תשומת לבכם ההרשמה מחייבת, מקומכם באימון תופס מקום של מתאמן אחר.
                            <li>6.	ביטול ההרשמה מתאפשר במספר דרכים:
                            <li>i.	ביטול רגיל - ניתן לבטל הרשמה דרך האתר עד שעתיים לפני האימון.
                            <li>ii.	ביטול מאוחר – ניתן לבטל הרשמה עד שעה לפני האימון.
                            <li>iii.	שימוש בביטול מאוחר יאלץ את המנוי ברישום מאוחר לאימון הבא  כ- 5 שעות לפני השיעור ( מנגנון זה פועל רק עבור אימון אחד בלבד).
                            <li>7.	מינימום משתתפים באימון יעמוד על 5 משתתפים, במידה וכמות המתאמנים תפחת מהמינימום הנדרש יבוטל המנוי בדרכים הבאות:
                            <li>i.	אימוני בוקר – תשלח הודעה לביטול האימון עד השעה 22:00 בלילה שלפני האימון.
                            <li>
                                ii.	אימוני אחר הצהריים /ערב – תשלח הודעה לביטול האימון עד שעתיים לפני תחילת האימון.
                        </ul>
                        ה.
                    <li>
                        הגעה לאימון.
                        <ul>
                            <li>1.	הקפידו להגיע כ-  5 דקות לפני תחילת האימון לצורך קבלת הסבר מפורט על תכנית האימון וקבלת דגשים על כלל התרגילים וזמני העבודה
                            <li>
                                2.	משך האימון הינו 55-50 דקות,  5 דקות האחרונות יוקצו לצורך מתן אפשרות לענות על  שאלות והכנת האימון הבא .
                        </ul>
                        ו.
                    <li>
                        פעילות בסטודיו
                        <ul>
                            <li>1.	הפעילות בסטודיו תתבצע בלבוש הולם ובביגוד המתאים לפעילות, חל איסור על אימון עם מכנסי דגמ"ח או ג'ינס.
                            <li>2.	לצורך שמירה על היגיינה חובה להגיע עם מגבת אישית לצורך פריסה על ספה/מזרון בזמן האימון.
                            <li>3.	סרגל מאמץ - תכנית האימון גמישה, למתאמן אחריות אישית להתאים את המאמץ לפי יכולותיו האישיות.
                            <li>4.	במקרה של פציעה בסטודיו חובה לדווח באופן מידי לצוות הסטודיו ולמלא דוח פציעה, לא תתקבל טענה על פציעה בדיעבד.
                            <li>5.	הסטודיו מצולם במצלמות אבטחה לצורך בקרה ופיקוח, למעט חדר השירותים.
                            <li>6.	חל איסור מוחלט על פעילות בסטודיו תחת השפעת אלכוהול או סמים.
                            <li>7.	חל איסור להכניס מזון או להשתמש בטלפון בשטח הסטודיו.
                            <li>8.	מדידות -  יתבצעו בתיאום מראש, הקפידו לתאם אחת לחודש לצורך מעקב.
                            <li>
                                9.	לרשותכם עמדת שתיה בסטודיו למילוי בקבוק מים בלבד.
                        </ul>
                        ז.
                    <li>
                        ביטוח.
                        <ul>
                            <li>1.	לצורך ביטוח המתאמנים בסטודיו, ההשתתפות באימונים תחייב את המנוי למילוי טופס וחתימה על הצהרת בריאות.
                            <li>2.	מתאמן מתחת גיל 16 יצטרך להחתים את הוריו על הצהרת הבריאות.
                            <li>3.	חל איסור להכניס לשטח הסטודיו ילדים מתחת לגיל 6 .
                            <li>
                                4.	מובהר ומוסכם שהסטודיו אינו מבטח את המתאמנים בביטוח תאונות אישיות.
                        </ul>
                        ח.
                    <li>
                        הקפאת מנוי.
                        <ul>
                            <li>1.	הקפאת מנוי הינה הטבה הניתנת על ידי הסטודיו המאפשרת למתאמן להקפיא את המנוי לתקופת זמן הקצובה מראש.
                            <li>2.	הקפאת מנוי תתבצע בהתראה מראש ולא רטרואקטיבית ובאמצעות מילוי טופס הקפאת מנוי, מספר הימים המינימלי להקפאה יעמוד על שבעה ימים.
                            <li>3.	בעת ביטול מנוי - לא יוחזר החזר כספי רטרואקטיבי על מינוי בהקפאה.
                            <li>4.	הקפאה ללא תשלום תתבצע לפי המסלול המנוי הנרכש.
                            <li>i.	מנוי לשלושה חודשים -  ניתן להקפיא עד 7 ימים.
                            <li>ii.	מנוי חצי שנתי - ניתן להקפיא עד 14 ימים
                            <li>iii.	מנוי שנתי - ניתן להקפיא עד 30 ימים .
                            <li>iv.	אישור רפואי/שירות מילואים פעיל – תתבצע הקפאה על בסיס התאריכים המדויקים שלא ניתן לבצע פעילות גופנית.
                            <li>v.	כרטיסיה /מנוי חודשי – לא ניתן להקפאה.
                            <li>5.	הקפאה בתשלום נוסף
                            <li>i.	עלות ההקפאה נוספת מעבר לזמני ההקפאה במסגרת המנוי הינה 100 שקלים עבור כל 14 ימים של הקפאה .
                            <li>ii.	מינימום הקפאה נוספת 14 ימים.
                            <li>6.	תקופת המנוי תתארך במספר ימי ההקפאה , התוקף החדש של המנוי יעודכן בסיום ההקפאה.
                            <li>
                                7.	לא ניתן להקפיא מנוי יותר מ-4 חודשים ,לאחר תקופת ההקפאה המנוי יפתח ולא יינתן להקפיא את המנוי שוב.
                        </ul>
                        ט.
                    <li>
                        חידוש מנוי.
                        <ul>
                            <li>
                                1.	חידוש מנוי יתבצע בסיום תוקף המנוי ובאישור המתאמן.
                        </ul>
                        י.
                    <li>
                        ביטול מנוי
                        <ul>
                            <li>1.	יתבצע בהודעה מראש ולא רטרואקטיבית ובאפשרויות הבאות:
                            <li>i.	לפי חוק ביטול מנוי בחדר כושר סעיף 37, המחייב את הלקוח להודעה בכתב בדואר רשום, אימייל, וואצאפ'.
                            <li>1.	המתאמן יידרש למילוי טופס ביטול מנוי.
                            <li>2.	ביטול המנוי יכנס לתוקף עם הודעת הלקוח, החיוב יתבצע על בסיס חודשי לפי תאריך רכישת המנוי, לדוגמא מנוי שנרכש בתאריך 1.1.2021 ומילא טופס ביטול מנוי בתאריך 2.3.21 יחויב בתשלום עבור שלושה חודשים.
                            <li>3.	בין הודעת ביטול המנוי לכניסת הביטול לתוקף רשאי המנוי להתאמן בסטודיו . לצורך הדוגמא , בין התאריכים 2.3.21-31.3.2021 מדוגמא קודמת.
                            <li>4.	מעבר לכרטיסיה יתבצע לאחר ביטול המנוי.
                            <li>5.	מנוי חודשי - לא תתאפשר ביטול מנוי חודשי .
                            <li>6.	העברת זכויות של המנוי לאחר תתאפשר כנגד תשלום של 150 ₪.
                            <li>7.	 כרטיסיה  - לא ניתנת לביטול או הארכה ולא ניתן לקבל החזר תשלום על החלק היחסי בעבור האימונים שלא התבצעו.
                            <li>
                                8.	לא תתאפשר העברת הזכויות בכרטיסיה לאחר.
                        </ul>
                        יא.
                    <li>
                        החזר כספי לביטול מנוי ( לאחר כניסת הביטול לתוקף).
                        <ul>
                            <li>1.	מנוי שנתי.
                            <li>i.	כניסת הביטול לתקוף מהחודש השני – עד החודש השלישי  התשלום עבור כל חודש לפי מחיר מנוי חודשי.
                            <li>ii.	כניסת הביטול לתוקף מהחודש הרביעי – עד החודש השישי התשלום עבור כל חודש לפי מחיר מנוי של שלושה חודשים.
                            <li>iii.	כניסת הביטול לתוקף מהחודש השביעי – עד החודש 12 התשלום עבור כל חודש לפי מחיר מנוי חצי שנתי.
                            <li>2.	מנוי חצי שנתי.
                            <li>i.	כניסת הביטול לתוקף מהחודש השני – עד החודש השלישי , התשלום עבור כל חודש לפי מחיר מנוי חודשי.
                            <li>ii.	כניסת המנוי לתוקף מהחודש הרביעי עד החודש השישי, התשלום עבור כל חודש לפי מחיר מנוי לשלושה חודשים.
                            <li>3.	מנוי לשלושה חודשים
                            <li>i.	כניסת הביטול לתוקף מהחודש השני עד החודש השלישי, התשלום עבור כל חודש לפי מנוי חודשי.
                            <li>4.	מנוי חודשי -  לא ניתן לביטול.
                            <li>
                                5.	מודגש – לא יוחזר החזר כספי רטרואקטיבי, תשלום חודשי יתבצע עבור חודש מלא או חלק ממנו.
                        </ul>
                        יב.
                    <li>
                        פרסום ושיווק
                        <ul>
                            <li>1.	הלקוח מסכים (באופן אקטיבי) לקבל דיוור אלקטרוני המכיל מידע ו/או דבר פרסומי עתידי והודעות SMS.
                            <li>
                                2.	באם הלוקח יודיע כי הוא מסרב לקבל את דבר הפרסומות יופסקו ההודעות.
                        </ul>
                    <li>
                        יג.	תמונות/ סרטונים
                        <ul>
                            <li>1.	ידוע כי צוות המועדון מצלם את מהלך האימון  (צילום סטילס ו/או וידאו ) לצורכי שיווק ,פרסום  וייתכן ויעשה בתמונות אלה שימוש ברשתות החברתיות.
                        </ul>
                </ul>
                הנני מצהיר/ה בזאת כי קראתי את התקנון הסטודיו המפורט בטופס זה המהווה חלק בלתי נפרד מתנאי הצטרפותי כחבר/ה בסטודיו פולס , הבנתי את תוכנו ומשמעותו ומתחייב לפעול בהתאם לתקנון הסטודיו והוראות ההנהלה.

            </div>
            <div class="modal-footer">
                <a class="btn btn-success" data-dismiss="modal" id="btn_confirmtandc"><span class="glyphicon glyphicon-ok"></span> אני מסכים לתנאי האתר</a>
                <button type="button" id="closetandc" class="btn btn-primary hidden" data-dismiss="modal">סגור</button>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
                {
                    @Html.AntiForgeryToken()
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_logout">לא מסכים, התנתק</button>*@
                    <a id="btn_logouttandc" href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger" style="margin: 0 6px;"><span class="glyphicon glyphicon-remove"></span> לא מסכים, התנתק</a>
                }
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $("#btn_confirmtandc").click(function (event) {
            event.preventDefault();
            event.stopPropagation();
            $.ajax({
                type: "POST",
                url: "/Account/ConfirmTandC",
                success: function (data) {
                    var result = data.Response;
                    if (result == 'Success') {
                        $('#TandCModal').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                    }
                }
            });
        });

    });
</script>