<div class="modal fade" id="ConfirmEnrollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <span id="ConfirmEnrollMSG"></span>
    </div>
</div>
