<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div style="margin:10% 42%"><img src="/images/loading-red.gif" /></div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-inner"></div>
                <button id="btn-export-enrollments" type="button" class="btn btn-info" style="float:right; display:none;">יצוא</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">סגור</button>

            </div>
        </div>
    </div>
</div>
