<!-- Modal -->
<div id="myTabbedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#subdetails-tab">פרטי מנוי</a></li>
                <li><a data-toggle="tab" href="#subfrozen-tab">פרטי הקפאה</a></li>
            </ul>
            <div class="tab-content">
                <div id="subdetails-tab" class="tab-pane tab-pane-overflow fade in active">
                    <div style="margin: 10% 42%">
                        <img src="/images/loading-red.gif" />
                    </div>
                </div>
                <div id="subfrozen-tab" class="tab-pane tab-pane-overflow fade">
                    <div style="margin: 10% 42%">
                        <img src="/images/loading-red.gif" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-inner"></div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>
</div>
