
<div id="BoClassEnrollModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
    
        </div>
    </div>
</div>

<div id="BoClassOutrollModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            
        </div>
     </div>
</div>
