@{
    ViewBag.Title = "צור קשר";
}
<h2>@ViewBag.Title.</h2>

<address>
    @*One Microsoft Way<br />
    Redmond, WA 98052-6399<br />*@
    <abbr title="טלפון">ירון:</abbr>
    052-746-8004<br/>
    
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@