@{
    ViewBag.Title = "דף הבית";
}

<div class="jumbotron">
    <img src="/images/pulse-home.jpg" alt="אימון אישי" />
</div>

<div class="row">
    <div class="col-md-8">
        <h2>ברוכים הבאים לסטודיו pulse – אימונים בדופק גבוה.</h2>
        הסטודיו, אשר הוקם במטרה לתת מענה לדור הבא של אימוני הכושר הגופניים, פועל בשיטה בין לאומית ייחודית המשלבת בין עולם הריצה לעולם הכוח הפונקציונאלי, לצלילי מוזיקה קצבית, באווירה קבוצתית ומשפחתית. השילוב המיוחד, נולד כדי לתת מענה לאלה המחפשים עבודה מדוייקת ויעילה לצד גיוון והנאה באימוני הכושר שלהם ומתאים לכל המינים ובכל הרמות (גברים, נשים, נוער, מתחילים וספורטאים).<br />
        אנו בפולס, עשינו מאמצים לשלב בין מקום מקצועי, עם ציוד חדשני, נעים ומזמין, לבין איכות האימון וצוות המדריכים.<br />
        <br />
        בשונה מחדר כושר "פולס" שם דגש על מתן יחס אישי לכל מתאמן ומתאמנת תוך הצבת יעדים משותפים וחתירה להשגתם. אצלנו תוכלו למצוא מענה ותמיכה ישירה מהצוות לאורך כל היום. אווירת האימון המשפחתית והיחס האישי מהצוות, מניחים תשתית רחבה ובה כל האמצעים הדרושים להצלחתכם האישית ומימוש הפוטנציאל הטמון בכל מתאמן ומתאמנת!<br />
        <br />
        האימונים מועברים על ידי מאמן או מאמנת כושר מקצועי/ת אשר מוודאים שהוא מותאם עבורך.<br />
        באמצעות שימוש באוצר תרגילים אין סופי, וסגנון האימון המשתנה בין מאמן אחד לשני -  יעילות האימון עבור הגוף, כמו גם ההנאה והגיוון הנה מובטחת!
        <br />
        אנו מזמינים אתכם לחווית אימון חדשנית, יוצאת דופן וסוחפת שתפרוץ את גבולות הכושר שהכרתם עד היום!

    </div>
    <div class="col-md-4">
        @Html.Partial("SubscribPartial")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}