@{
    ViewBag.Title = "צור קשר";
}
<h2>@ViewBag.Title.</h2>

<address>
    @*One Microsoft Way<br />
        Redmond, WA 98052-6399<br />*@
    <abbr title="טלפון">אלמוג:</abbr>
    054-493-0747<br />
    <strong>אימייל:</strong>   <a href="mailto:almogenish@gmail.com">almogenish@gmail.com</a><br />
</address>

@*<address>


        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@