<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSMSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.itnewsletter.co.il/webservices/webservicesms.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSMSSoap"
                contract="SMSService.WebServiceSMSSoap" name="WebServiceSMSSoap" />
        </client>
    </system.serviceModel>
</configuration>