<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  <add key="HangFireServiceEnabled" value="false" />
  <add key="ProfileUploadDir" value="~/images/Members" />
  <add key="ClassTypeUploadDir" value="~/images/ClassTypes" />
  <add key="InstructorUploadDir" value="~/images/Instructors" />
  <add key="StudioRoomUploadDir" value="~/images/StudioRoom" />
  <add key="MultiTenant" value="true" />
  <add key="IsDebug" value="true" />
  <add key="CalanderChangeHour" value="21" />
  <add key="ServerName" value="Dev-InShape" />
</appSettings>
