<?xml version="1.0"?>
<configuration>
  <SiteConfiguration>
    <!--<add key="ApplicationTitle" value="In Shape - DEV" />
    <add key="ConnectionString" value="" />
    <add key="MaxPageItems" value="100" />
    <add key="CancellationThresholdMins" value="30" />-->
    <add key="HangFireServiceEnabled" value="False" />
    <!--<add key="SendSMS" value="False" />
    <add key="ClassRatingEnabled" value="True" />
    <add key="HealthTandCEnabled" value="False" />

    <add key="SpacesLeftToShow" value="3" />
    <add key="WaitingListThersholdMins" value="120" />-->

    <add key="ProfileUploadDir" value="~/images/Members" />
    <add key="ClassTypeUploadDir" value="~/images/ClassTypes" />
    <add key="StudioRoomUploadDir" value="~/images/StudioRoom" />
    <!--<add key="GoogleAPIKey" value="AIzaSyCN61XxMpDNPehKgNZlYkgkt4IdIgWLUbA" />-->

  </SiteConfiguration>
</configuration>
