<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ApplicationConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    
    <!--<add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=Pulse;User Id=pulse;Password=SmimbsowIBYL3fLTSLif;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1;Initial Catalog=pulse;User Id=pulse;Password=SmimbsowIBYL3fLTSLif;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    

    <!--local   wy<5W/~'u}
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=pulse;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=pulse;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--Azure-->
 <add name="DefaultConnection" connectionString="Data Source=52.174.29.186;Initial Catalog=Pulse;User Id=pulsedb;Password=SmimbsowIBYL3fLTSLif;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=52.174.29.186;Initial Catalog=Pulse;User Id=pulsedb;Password=SmimbsowIBYL3fLTSLif;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    
    <!--<add name="DefaultConnection" connectionString="Data Source=104.40.148.84;Initial Catalog=pulse;User Id=sharondb;Password=SmimbsowIBYL3fLTSLif;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=104.40.148.84;Initial Catalog=pulse;User Id=sharondb;Password=SmimbsowIBYL3fLTSLif;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=sbh1.database.windows.net;Initial Catalog=InShape;User Id=sbhadmin;Password=kxEB3uNybmA17uCrH77I;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sbh1.database.windows.net;Initial Catalog=InShape;User Id=sbhadmin;Password=kxEB3uNybmA17uCrH77I;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_9FE3DD_InShape;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=DB_9FE3DD_InShape;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FE3DD_PulseStodio;User Id=DB_9FE3DD_PulseStodio_admin;Password=3oo31978;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FE3DD_PulseStodio;User Id=DB_9FE3DD_PulseStodio_admin;Password=3oo31978;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FE3DD_InShape;User Id=DB_9FE3DD_InShape_admin;Password=3oo31978;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FE3DD_InShape;User Id=DB_9FE3DD_InShape_admin;Password=3oo31978;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--SBH-InShape-->
    <!--<add name="DefaultConnection" connectionString="Data Source=sql5040.site4now.net;Initial Catalog=DB_9FE3DD_SBH;User Id=DB_9FE3DD_SBH_admin;Password=3oo31978;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql5040.site4now.net;Initial Catalog=DB_9FE3DD_SBH;User Id=DB_9FE3DD_SBH_admin;Password=3oo31978;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_9FE3DD_SBH;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="InShapeEntities" connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=DB_9FE3DD_SBH;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  </connectionStrings>
  <!--<appSettings configSource="appSettings.config" />-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="ProfileUploadDir" value="~/images/Members" />
    <add key="ClassTypeUploadDir" value="~/images/ClassTypes" />
    <add key="ClassTypeDetailUploadDir" value="~/images/ClassTypesDetail" />
    <add key="InstructorUploadDir" value="~/images/Instructors" />
    <add key="StudioRoomUploadDir" value="~/images/StudioRoom" />
    <add key="HangFireServiceEnabled" value="false" />
    <add key="MultiTenant" value="false" />
    <add key="IsDebug" value="true" />
    <add key="CalanderChangeHour" value="21" />
    <add key="DaysSinceLastClassMarker" value="14" />
    <add key="ServerName" value="Dev-InShape" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Home/Error.aspx" />
    <!--<authentication mode="None" />-->
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <globalization culture="he-IL" uiCulture="he-IL" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" requireSSL="true" />
    </authentication>-->
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="yes" />
  </elmah>
  <log4net debug="false">
    <appender name="MyFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\WebApp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
      </filter>
      <encoding value="windows-1255" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSMSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.itnewsletter.co.il/webservices/webservicesms.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSMSSoap" contract="SMSService.WebServiceSMSSoap" name="WebServiceSMSSoap" />
    </client>
  </system.serviceModel>
  <!--<ApplicationConfiguration>
    <add key="ApplicationTitle" value="new app name" />
    <add key="ConnectionString" value="" />
    <add key="MaxPageItems" value="20" />
    <add key="SpacesLeftToShow" value="3" />
      <add key="SendSMS" value="true" />
    <add key="CanelationThresholdMins" value="30" />
  </ApplicationConfiguration>-->
</configuration>