<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <!--Azure-->
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=sbh1.database.windows.net;Initial Catalog=InShape;User Id=sbhadmin;Password=kxEB3uNybmA17uCrH77I;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="InShapeEntities"
      connectionString="metadata=res://*/InShape.csdl|res://*/InShape.ssdl|res://*/InShape.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sbh1.database.windows.net;Initial Catalog=InShape;User Id=sbhadmin;Password=kxEB3uNybmA17uCrH77I;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>


  <appSettings>
    <add key="HangFireServiceEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerName" value="Prod-Server" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsDebug" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <!--<system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" appendQueryString="true" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
</configuration>
